<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Give Great Gifts.">
    <meta name="author" content="Damola 'D' Omotosho">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
    @Styles.Render("~/Content/themeCss")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    @RenderSection("topScripts", required: false)
</head>
<body>
    @Html.Partial("_NavigationBar")

    @RenderBody()

    @Scripts.Render("~/bundles/themeJS")
    @RenderSection("scripts", required: false)
</body>
</html>