@model Favesrus.Model.Entity.Retailer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Retailer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RetailerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailerLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailerLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailerLogoDataString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailerLogoDataString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModoMerchantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModoMerchantId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
