@model IEnumerable<Favit.Model.Entities.Retailer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RetailerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetailerLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetailerLogoDataString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RetailerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetailerLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetailerLogoDataString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
